<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="">Register Form</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm">
            <div
              *ngIf="this.registerForm.touched && this.registerForm.invalid"
              class="alert alert-danger"
            >
              Invalid username and/or password
            </div>
            <div class="form-group">
              <label for="userName">Mail Address: </label>
              <input
                type="eamil"
                placeholder="enter your mail address"
                class="form-control"
                name="userName"
                formControlName="userName"
              />
            </div>
            <br />
            <div class="form-group">
              <label for="firstName">First Name: </label>
              <input
                type="text"
                placeholder="enter your first name"
                class="form-control"
                name="firstName"
                formControlName="firstName"
              />
            </div>
            <br />
            <div class="form-group">
              <label for="lastName">Last Name: </label>
              <input
                type="text"
                placeholder="enter your lastName"
                class="form-control"
                name="lastName"
                formControlName="lastName"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                placeholder="enter your password"
                class="form-control"
                name="password"
                formControlName="password"
              />
            </div>

            <div class="form-group">
              <button
                type="button"
                class="form-control btn btn-primary"
                (click)="onSubmit()"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
